/**
 * @name Compact ServerColumns
 * @author Andrew Grant
 * @description Modified ServerColumns to also have channel/DM panel on the left
 * @version 2.1
 */


/* Grab the latest ServerColumns version */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);

/* ServerColumns adjustment */
:root {
	--columns: 4;
	--guildsize: 50;
	--guildgap: 4;
	--aligndms: 1;
}

/* Align DM's with Home button */
[class^="tutorialContainer_"] {
	width: calc(1px * var(--guildsize) + 12px) !important;
}

/* Home button pill relocate */
.pill_d1140c.wrapper_b4903b {
	left: -10px !important;
}

/* channel list */
.sidebar_e031be {
	position: absolute;
	height: 60%;
	bottom: 0;
	z-index: 2;
	left: 0;
}

/* server list */
.wrapper__216eb {
	position: absolute;
	left: 0;
	top: 0;
	height: 40%;
	z-index: 2;
}

/*  main Discord Window */
.content__76dcf {
	padding-left: 262px;
	z-index: 1;
}

/* User popout offset */
#popout_21 {
	left: 35px !important;
}

/* DM list internal width */
.channel__0aef5 {
	max-width:242px;
}
