/**
 * @name Compact ServerColumns
 * @author Andrew Grant
 * @description Modified ServerColumns to also have channel/DM panel on the left
 * @version 2.0
 */


/* Grab the latest ServerColumns version */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css);

/* ServerColumns adjustment */
:root {
	--columns:	4;
	--guildsize: 50;
	--guildgap: 4;
	--aligndms: 1;
}

/* Align DM's with Home button */
.tutorialContainer__890ea {
	width: calc(1px * var(--guildsize) + 12px) !important;
}

/* Home button pill relocate */
.wrapper_a7e7a8 .pill_d1140c, .wrapper_a7e7a8 .pill__66ac8 {
    left: -10px !important;
}

/* channel list */
.sidebar_ded4b5 {
    position: absolute;
    height: 60%;
    bottom: 0;
    z-index: 2;
    width: 262px;
    border-radius: 0 !important;
    left: 0;
}

/* server list */
.wrapper_a7e7a8 {
    position: absolute;
    left: 0;
    top: 0;
    height: 40%;
    z-index: 2;
    padding-left: 21px !important;
    padding-right: 21px !important;
}

/*  message requests page */
.content__4bf10 {
    padding-left: 262px;
    z-index: 1;
}

/* channel list padding */
.wrapper_a7e7a8 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

/* Server banner resize */
[class*=content_]>[class*=sidebar_],
[class*=bannerImage_],
[class*=bannerImg_] {
    width: 262px;
}

/* User popout offset */
#popout_19 {
	left: 35px !important;
}

/* User volume/headphone/setting alignment */
.withTagAsButton_cc125f, .withTagless__98b7d {
	flex:50%;
}

/* DM list width */
.channel_c21703 {
	max-width:242px;
}
