/**
 * @name CustomAvatarShape
 * @author Andrew Grant
 * @description Change the mask over user avatars and channel lists
 * @version 5.0
 *//*
 * Thanks to Gibbu for making the RadialStatus theme which was used as inspiration for this one
 * https://github.com/DiscordStyles/RadialStatus <- Gibbu's RadialStatus theme */
 
:root{ /*Change these values from 0% (square) to 50% (circle) */
    --radius: 14%;
    --radius-large: 20%;
}

.wrapper-3t9DeA foreignObject { /* User avatar (sidebars) */
	mask: none;
	border-radius: var(--radius);
}

.avatar-1BDn8e { /* User avatar (main chat)*/
	border-radius: var(--radius);
}

.wrapper-25eVIn foreignObject { /* Discord logo, unthemed channels, add server button, public servers button */
	mask: none;
	border-radius: var(--radius-large);
}

foreignObject[mask="url(#svg-mask-avatar-status-round-80)"] { /* removes the circular mask on the user avatar overlay hover */
	mask: none;
}

.wrapper-3t9DeA { /* Avatar background (new style) */
    border-radius: var(--radius);
}

.avatarHint-1E3LMl { /* Avatar overlay hover (new style) */
    border-radius: var(--radius);
}

.avatarContainer-28iYmV {  /* Tiny user avatar view (in voice channels) */
	border-radius: var(--radius);
}

.da-avatarSpeaking { /* Green speaking border over user avatar */
	border-radius: var(--radius);
}

foreignObject[mask="url(#svg-mask-voice-user-summary-item)"] { /* NOT CURRENTLY WORKING - server popup for current users in voice channels */
	mask: none;
	border-radius: var(--radius-large);
}
