/**
 * @name Detailed Timestamps
 * @author Andrew Grant
 * @description Shows off more information in inline, hover, and edited timestamps. 
 * @version 1.0
*/

span[class*="timestamp_"] time::before {
    content: '✎ ' attr(aria-label);
    font-size: 0.625rem;
    font-weight: 400;
}

span[class*="timestampInline_"] time::before {
    content: attr(aria-label);
    font-size: 0.75rem;
    font-weight: 500;
}

span[class*="timestampVisibleOnHover_"] time::before {
    content: attr(aria-label);
    position: absolute;
    font-size: 0.6rem;
    line-height: 0.85rem;
    width: 65px;
    left: -1px;
    top: 4px;
}

span[class*="timestampInline_"], span[class*="timestampVisibleOnHover_"] {
    font-size: 0rem !important;
}

span[class*="edited_"] {
    display: none;
}