/**
 * @name Enhanced Emote Reactions
 * @description Increases the visibility of emoji reactions, as well as removes the count of reactions when there is only one
 * @author Andrew Grant
 * @version 1.1
*/

[class^=reaction_] .emoji {
    width: 1.25rem;
    height: 1.25rem;
}

[class^=reactionInner_] {
    padding-top: 0.1rem;
    padding-right: 0.25rem;
    padding-bottom: 0.1rem;
    padding-left: 0.25rem;
}

[class^=reactionCount_] {
    margin-left: .2rem;
    font-size: 0.85rem;
}

[class^=reactionInner_][aria-label*=" 1 reaction"] [class^=reactionCount_], [class^=reactionInner_][aria-label*=" 1 super reaction"] [class^=reactionCount_] {
    display: none;
}

div[class^=reaction_] {
    padding-bottom: 0;
}