/**
 * @name Remove Top Bar Theme
 * @author Andrew Grant
 * @description This makes the top bar thinner and allows dragging from the titlebar
 * @version 1.4
 */


.withFrame-haYltI { /* Shrinks titlebar down to nothing */
    height: 0px;
}

.children-19S4PO{ /* Reimplements lost titlebar drag functionality in the channel name view */
	-webkit-app-region: drag;
}

.wordmarkWindows-1v0lYD{ /* Removed the "Discord" text on the top left of the screen */
	color:transparent;
}


.winButton-iRh8-Z{ /* Hid the _ □ X buttons, they are visible on hover */
	color: transparent;
}
