/**
 * @name Slideover Servers
 * @author Andrew Grant
 * @description Turns the server list into a grid that slides out on hover.
 * @version 1.2
*/

:root {
    --sos-number-of-rows: 10;
    --sos-home-button-offset: 26px;
    --sos-server-expand-width: 220px;
    --sos-sidebar-collapse-width: 92px;
}

/* attach home, Discover, and "add server" buttons to top of screen */
[class^="tutorialContainer_"] {
    position: fixed;
    top: var(--sos-home-button-offset);
}

/* align Discover footer with home and "add server" buttons */
[class^="tutorialContainer_"]:has([class^="circleIconButton_"]) {
    left: 72px;
}
[class^="footer_"] {
    position: absolute;
    top: -56px;
    padding: 0px;
    left: 144px;
}

/* offset server scroll to account for attached buttons */
nav[class*="guilds_"] {
    padding-top: 60px;
}

/* change server list to allow for wrapping */
nav[class^="wrapper_"] div[class^="listItem_"] + div[aria-label] {
    display: flex;
    flex-flow: column wrap;
}

/* rows cannot be calculated with pure CSS, '--sos-number-of-rows' needs to be set */
div[aria-label="Servers"] {
    height: calc(var(--sos-number-of-rows) * 56px);
}

/* Alow guild separator to expand on hover */
[class^="guildSeparator_"] {
    position:absolute;
    width: 40px;
    left: 16px;
    top: -2px;
}

/* expand server list and guild separator on hover */
nav[class^="wrapper_"]:hover {
    width: var(--sos-server-expand-width);
    [class^="guildSeparator_"] {
        width: 182px;
    }
}

/* collapse sidebar on hover */
nav[class^="wrapper_"]:hover + div [class^="sidebar_"] {
    width: var(--sos-sidebar-collapse-width);
}

/* remove unread mention bottom and top pills */
[class^="unreadMentionsIndicator"] {
    display: none;
}